@charset "UTF-8";


/* ============================== Roboto Font ============================== */

@font-face {
  font-family: 'Roboto Regular';
  src: url('./fonts/roboto/roboto-regular.ttf');
}

@font-face {
  font-family: 'Roboto Italic';
  src: url('./fonts/roboto/roboto-italic.ttf');
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('./fonts/roboto/roboto-thin.ttf');
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('./fonts/roboto/roboto-thin-italic.ttf');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./fonts/roboto/roboto-light.ttf');
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: url('./fonts/roboto/roboto-light-italic.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./fonts/roboto/roboto-medium.ttf');
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url('./fonts/roboto/roboto-medium-italic.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./fonts/roboto/roboto-bold.ttf');
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('./fonts/roboto/roboto-bold-italic.ttf');
}

@font-face {
  font-family: 'Roboto Black';
  src: url('./fonts/roboto/roboto-black.ttf');
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: url('./fonts/roboto/roboto-black-italic.ttf');
}
