<div class="mdc-typography-component">
  <main class="mdc-typography center">
    <h1>
      mdc-typography
    </h1>
    <h1 class="mdc-typography--headline1">
      --headline1
    </h1>
    <h2 class="mdc-typography--headline2">
      --headline2
    </h2>
    <h3 class="mdc-typography--headline3">
      --headline3
    </h3>
    <h4 class="mdc-typography--headline4">
      --headline4
    </h4>
    <h5 class="mdc-typography--headline5">
      --headline5
    </h5>
    <h6 class="mdc-typography--headline6">
      --headline6
    </h6>
    <h6 class="mdc-typography--subtitle1">
      --subtitle1
    </h6>
    <h6 class="mdc-typography--subtitle2">
      --subtitle2
    </h6>
    <p class="mdc-typography--body1">
      --body1
    </p>
    <p class="mdc-typography--body2">
      --body2
    </p>
    <div class="mdc-typography--caption">
      --caption
    </div>
    <div class="mdc-typography--button">
      --button
    </div>
    <div class="mdc-typography--overline">
      --overline
    </div>
  </main>
</div>
