<h1>Functions</h1>
<ul>
    <li {{on 'click' this.apply}}>Function.prototype.apply()</li>
    <li {{on 'click' this.call}}>Function.prototype.call()</li>
    <li {{on 'click' this.bind}}>Function.prototype.bind()</li>
</ul>