@use "sass:map";
@use "sass:string";

@function get-demo-global-variable_($style) {
    @if $style == "headline1" {
        @return $mdc-typography-styles-headline1;
    } @else {
        @return ();
    }
}

@function set-demo-styles_($base-styles, $scale-styles) {
    @each $style, $style-props in $scale-styles {
  
      // Merge base properties for all styles.
      $style-props: map.merge($base-styles, $style-props);
  
      // Merge global overrides onto each style.
      @if global_variable_exists(string.unquote("mdc-typography-styles-#{$style}")) {
        $style-props: map.merge($style-props, get-demo-global-variable_(#{$style}));
      }
  
      // Override original styles with new styles.
      $scale-styles: map.merge($scale-styles, (#{$style}: $style-props));
    }
  
    @return $scale-styles;
}

@function get-demo-letter-spacing_($tracking, $font-size) {
    @return $tracking / ($font-size * 16) * 1em;
}