<!-- The {{ref}} modifier takes a property name and an object, and assigns the modifier's element to that property on the object.-->
<audio src={{@srcURL}} {{ref this "audioElement"}} />


<button {{on "click" this.play}}>Play</button>